{% extends "base.html" %}

{% block content %}
<style>
    .card_container{
    width: 300px;
    height: 450px;
    background: #ffffff;
    border-radius: 6px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 1px 10px 1px #000;
    overflow: hidden;
    display: inline-block;
}

.upper_container{
    height: 150px;
    background: #4583EF;
}

.lower_container{
    height: 280px;
    background: #ffffff;
    padding: 20px;
    padding-top: 40px;
    text-align: center;
}

.make_account{
    color: #000000;
    background: #ffffff;
    font-weight: bold;
    border: none;
}

.login_page{
    font-family: 'Roboto', sans-serif;
    color: #CCBEB4;
    font-weight: bold;
}
</style>

{% with messages = get_flashed_messages() %}
        {% if messages%}
            {% for msg in messages%}
                <p>{{msg}}</p>
            {% endfor %}
        {% endif %}
    {% endwith%}

<div class="card_container">
    <div class="upper_container">
    </div>
    <div class="lower_container">
        
            <form action="#" method="POST">
                <br>
                <input type="text" id="fname" name="email" placeholder="Email"><br><br>
                <input type="text" id="lname" name="unm" placeholder="Username"><br><br>
                <br>
                <input type="submit" value="Register" class="make_account">
              </form>
        </div>
    </div>
{% endblock %}